body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

/* header */

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}
.header-menu-list {
  display: flex;
  margin-left: auto;
  gap: 24px;
}
.header-navigation {
  display: flex;
}

/* hero */

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  padding-top: 375px;
  margin: 0 auto;
  padding-bottom: 46px;
  max-width: 1200px;
  margin-bottom: 72px;
  background-image: url("/images/chocolate-covered-cocoa-powder\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-wrapper {
  padding: 375px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background-color: #fd9222;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;
  transition-property: color;
  transition-duration: 300ms;
}

.hero-btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background-color: ;
  padding: 14px 40px;
  border: 1px solid #fff;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}
.hero-button {
  display: flex;
  align-items: center;
}
/* featur */

.feature {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-list {
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  gap: 70px;
}

.feature-item {
  flex-basis: calc((100%-140px) / 3);
}

.feature-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.feature-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* Taste */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin-bottom: 28px;
  margin-left: 0 auto;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 270px;
  height: 270px;
  padding: 28px 32px;
  flex-basis: calc((100%-570px) / 4);
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* Made */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.made-title {
  margin-bottom: 50px;
}

.made-title::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fd9222;
}

.made-title::after {
  content: "1.";
}

.made-image {
}

.made-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 32px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* revie */

.review {
}

.review-title {
}

.review-list {
}

.review-item {
}

.review-image {
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.footer {
  background-color: #1e1823;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fff;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgb(17, 17, 17, 0.369);
  position: fixed;
  top: 0;
}

.modal {
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 46px;
  right: 26px;
}

.section-title {
  max-width: 300px;
  text-align: left;
  margin-bottom: 40px;
}

.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  width: 100%;
  height: 68px;
  border-color: transparent;

  padding-left: 68px;
  color: purple;
}

.modal-lable {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50);
}

.modal-input-wrapper {
  position: relative;
}
.modal-input:focus + .modal-icon {
  fill: #fd9222;
}
